.info-box{display: flex;  flex-wrap: nowrap; border-radius:5px; color:#fff; height:105px; margin-bottom:30px;}
.info-box .info-box-icon, .info-box .info-box-content{display:flex;}
.info-box .info-box-icon{width:95px; justify-content:center; align-items:center; border-radius:5px 0 0 5px; background:rgba(0,0,0,.1); font-size:40px;}
.info-box .info-box-content{align-items:center; padding:0 10px; font-size:16px; line-height:1.3em;}
.info-box .info-box-content strong{font-weight:normal; display:block; font-size:28px; line-height:1.3em;}
.bg-violet{background:#66687f}
.bg-green{background:#68c9b5}
.bg-yellow{background:#f0a740}
.bg-pink{background:#df7896}

.box2{background:#fff; box-shadow:0 0 7px rgba(0,0,0,.1); padding:20px; margin-bottom:30px; border-radius:5px;}
.box2 h2{font-size:18px; margin-bottom:15px; color:#314451; line-height:1em; font-weight:normal;}

.total-booking{text-align:center;}
.total-booking div.count{width:170px; height:170px; border:15px solid #4cb1cf; border-radius:50%; line-height:145px; text-align:center; color:#4cb1cf; font-size:24px; margin:0 auto;}


/*---- Carousel Template ----*/
.mbr_carousel{position:relative;}
.mbr_carousel ul{padding:0;}
.mbr_carousel li{padding:0; }
.mbr_carousel .card{background: #fff;text-align: center;font-size: 12px;color: #8c8c8c; padding:10px;font-weight: 300;}
.mbr_carousel .card .dp{width:50px;   height:50px;   border-radius:50%; text-align:center;  color: #fff; font-size:28px;  margin:0 auto 5px;   position:relative;}
.mbr_carousel .card h3{font-size:14px; color:#314451; font-weight:bold; line-height:1.2em; margin-bottom:3px;}
.mbr_carousel .card h4{line-height:1.2em; font-size:12px; color:#8c8c8c; font-weight:300; margin-bottom:18px;}
#orgzr_followers .slick-arrow{background:#e5e5e5; width:32px; height:32px; border-radius:50%; line-height:28px; top:32%;}
#orgzr_followers .slick-arrow.slick-prev {right: auto; left:-35px;}
#orgzr_followers .slick-arrow.slick-next {right:-35px;}
#orgzr_followers .slick-arrow .fa{position:relative; top:-2px;}